@font-face {
            font-family: smart-icons;
src: url(../dest/icons.eot);
src: url(../dest/icons.eot?#iefix) format("embedded-opentype"),url(../dest/icons.woff2) format("woff2"),url(../dest/icons.woff) format("woff"),url(../dest/icons.ttf) format("truetype"),url(../dest/icons.svg#icons) format("svg");
font-style: normal;
                 font-weight: normal;
        }
[class^='icon-']:before, [class*='icon-']:before {
        display: inline-block;
        font-family: 'smart-icons' !important;
        -webkit-font-smoothing:antialiased;
        }
.icon-album-default:before {content: '\f101';}
.icon-camera:before {content: '\f102';}
.icon-camera1:before {content: '\f103';}
.icon-i-right:before {content: '\f104';}
.icon-i-wrong:before {content: '\f105';}
.icon-mailru:before {content: '\f106';}
.icon-odnoklassniki:before {content: '\f107';}
.icon-pinterest:before {content: '\f108';}
.icon-plusone:before {content: '\f109';}
.icon-right-triangle:before {content: '\f10a';}
.icon-send-error:before {content: '\f10b';}
.icon-single:before {content: '\f10c';}
.icon-solve:before {content: '\f10d';}
.icon-solve1:before {content: '\f10e';}
.icon-star:before {content: '\f10f';}
